<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container">
        @RenderPage("~/Views/Shared/_Topo.cshtml")
        <div class="row">
            @Html.Partial("_MenuLateral")
            <div class="span9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <hr />
            <footer class="pull-right">
                @if (IsSectionDefined("rodape"))
                {
                    @RenderSection("rodape")   
                }
                else
                {
                    @Html.Partial("_Rodape")
                }
            </footer>
        </div>
    </div>
</body>
</html>
