@model IEnumerable<RotasMVC.Models.Noticia>
@{
    ViewBag.Title = "Index";
}

<h2>Rotas em ASP.NET MVC</h2>

<div>
    <ul>
        @foreach (string item in ViewBag.Categorias)
        {
            <li>@Html.ActionLink(item, "MostraCategoria", "Home", new { @categoria = item }, null)
            </li>
        }
    </ul>
</div>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Titulo, "MostraNoticia", "Home", new
                    {
                        @noticiaId = item.NoticiaId,
                        @categoria = item.Categoria.ToLower(),
                        @titulo = item.Titulo.ToLower()
                    }, null)
                <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
                <b>@Html.DisplayFor(modelItem => item.Data)</b>
            </li>
        }
    </ul>
</div>
<div>
    @Html.ActionLink("Todas as Noticias", "TodasAsNoticias", "Home")
</div>
